# Postgres (used by postgres service)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=urlshortener

# App (url-shortener service)
IMAGE_NAME=ghcr.io/<username>/<repo-name>:latest
CONTAINER_NAME=url-shortener
PORT=3000
